<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>

        <div class="about content">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum distinctio ratione iure voluptas beatae perferendis ab minus fugiat alias consequatur adipisci impedit, ducimus, magni soluta praesentium voluptate, quis ipsam. Architecto!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum distinctio ratione iure voluptas beatae perferendis ab minus fugiat alias consequatur adipisci impedit, ducimus, magni soluta praesentium voluptate, quis ipsam. Architecto!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum distinctio ratione iure voluptas beatae perferendis ab minus fugiat alias consequatur adipisci impedit, ducimus, magni soluta praesentium voluptate, quis ipsam. Architecto!</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>